{% extends 'base.html' %}
{% load staticfiles %}

<style>
{% block styles %}
  {% if page_obj.nav_color != "#000000" %}
    .navbar-inverse, .navbar, .navbar-fixed-top {
      background-color: {{ page_obj.nav_color }};
      border-color: {{ page_obj.nav_color }};
    }
  {% endif %}
  {% if not page_obj.show_nav %}
    body {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  {% endif %}
{% endblock styles %}
</style>


{% block content %}
  
    {% if page_obj.show_nav %}
      {% include 'navbar.html' %}
    {% endif %}

    {% if page_obj.layout == 'stacked' %}
      {% include 'pages/snippet/stacked-layout.html' with page_obj=page_obj form=form %}
    {% else %}
      {% include 'pages/snippet/standard-layout.html' with page_obj=page_obj form=form %}
    {% endif %}

    <a href="{% url 'api-email-join' %}">api join</a> 

{% endblock content %}

{% block jquery %}
  {% include 'pages/home_jquery.html' %}
{% endblock %}


