{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %} Ideas {% endblock title %}</title>

    {% include 'head_css.html' %}

  <style type="text/css">
    {% block styles %}
    {% endblock styles %} 
  </style>


  </head>
  <body>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissable text-center">
          <div class="container">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}<br/>
          </div>  
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}

      <hr>

      <div class="container">
      <footer>
        <p>&copy; 2017 Mnc Company, Inc.</p>
      </footer>
      </div>

    {% include 'js.html' %}  

    {% block jquery %}
    {% endblock jquery %}

    {% include 'newsletter/snippet/modal_js.html' %}

    {% include 'newsletter/snippet/modal.html' %}
    </body>
</html>